/* PROACTIS Blue */
.navbar {
    background-image: none;
    background-color: rgb(70,130,180);
}

/* Fill the entire screen */
.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

/* 
To decrease the gap between the LH menu and the content we need to 
set the width of the first DIV in the .container to be 300px rather than 25% */
.container > .col-md-3 {
    width: 300px !important;
}

/* Remove the squared paper background image */ 
body
{
    background: none;
}